---
import { getCollection } from 'astro:content';

const { postId } = Astro.props;

const nextPosts = await getCollection('posts', ({ data }) => {
    return data.sequence === postId + 1;
});
const previousPosts = await getCollection('posts', ({ data }) => {
  return data.sequence === postId - 1;
});

const nextPost = nextPosts[0];
const previousPost = previousPosts[0];
---

{nextPost || previousPost ? (
<div class="px-[4%] sm:px-[8%] md:px-[12%] lg:px-[20%] pb-5 md:pb-8 lg:pb-10">
    <div class="flex justify-between border-t border-gray-300 pt-3">
    {!nextPost ? (
        <div/>
    ) : (
        <a href={`/collections/${nextPost.data.slug}`}>
            <div class="flex flex-row">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="my-auto stroke-2 brightness-125" viewBox="0 0 16 16" style={`color: ${nextPost.data.color}`}>
                    <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1"/>
                </svg>
                <div class="pl-2">
                    <div class="text-sm leading-none font-light brightness-75" style={`color: ${nextPost.data.color}`}>Next</div>
                    <div class="text-lg leading-none" style={`color: ${nextPost.data.color}`}>{nextPost.data.title}</div>
                </div>
            </div>
        </a>
    )}
    {!previousPost ? (
        <div/>
    ) : (
        <a href={`/collections/${previousPost.data.slug}`}>
            <div class="flex flex-row justify-end">
                <div class="pr-3 text-right">
                    <div class="text-sm leading-none font-light brightness-75" style={`color: ${previousPost.data.color}`}>Previous</div>
                    <div class="text-lg leading-none" style={`color: ${previousPost.data.color}`}>{previousPost.data.title}</div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="my-auto stroke-2 brightness-125" viewBox="0 0 16 16" style={`color: ${previousPost.data.color}`}>
                    <path d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1"/>
                </svg>
            </div>
        </a>
    )}
    </div>
</div>
) : (
<div/>
)}