---
import type { CollectionEntry } from 'astro:content';
interface Props {
  post: CollectionEntry<'posts'>;
}

const { post } = Astro.props;
---

<a href={`/collections/${post.data.slug}`} 
   class="shadow-lg zoom"
   style={`--overlay-color: ${post.data.color}; rotate: ${post.data.rotate}deg;`}>
  <div class="bg-white p-[6%]">
    <div class="overlay">
      <img src={post.data.cover.src} alt={`${post.data.title} collection thumbnail image`} />
    </div>
    <div class="text-md sm:text-xl md:text-lg lg:text-xl" style="font-family: cursive;">
      <div class="flex justify-center w-full pt-2">
        {post.data.title}
      </div>
    </div>
    <span class="shadow-xl"></span>
  </div>
</a>

<style>
.overlay::before {
  content: '';
  z-index: 2;
  width: 88%;
  aspect-ratio: 1;
  display: block;
  position: absolute;
  background: linear-gradient(25deg, var(--overlay-color) 0%, rgba(0, 0, 0, 0) 36%);
}

.zoom {
  transition: transform .12s;
}
.zoom:hover {
  transform: scale(1.12);
  z-index: 3;
  box-shadow: var(--shadow-xl);
}
</style>